/*layout pagina*/

#center-screen {
    overflow: scroll;
}

#left-screen{
    color: #b1b0b0;
    padding-left: 2vh;
}


/*nav*/
.nav{
    margin-top: 2vh;
    color: rgb(122, 122, 122) !important;
}

.navButtons{
    color: #b1b0b0 !important;
}

.my-1{
    color: #b1b0b0 !important;
}

/*parte asides Homepage*/

#right-aside{
    color: #b1b0b0;
}

#right-aside-title{
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.righterCol{
    color: #b1b0b0;
}

.righterColText{
    margin-bottom : 0px;
    color: #cecece;
    font-size: 0.75rem;
}


.righterP{
    margin-top: 0;
    margin-bottom: 0.3rem !important;
}

#left-aside{
    display : flex;
    flex-direction : column;
    overflow : scroll;
    height: 100vh;
    font-size: 0.9rem;
}


#left-aside::-webkit-scrollbar {
    width: 10px;
}

#left-aside::-webkit-scrollbar-track {
    background: black;
}

#left-aside::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 80);
}

/*Parte centrale */

.upperButtons{
    background: black;
    border-radius: 100%;
    color: gray;
    border: none;
    width: 25px;
    margin-inline: 5px
}

.buttoncontainer{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#introduction-title-card{
    font-size: 7vh;
    font-weight: 600;
}

#center-screen::-webkit-scrollbar {
    width: 10px;
}

#center-screen::-webkit-scrollbar-track {
    background: black;
}

#center-screen::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 80);
}

