
body {
    font-family: 'Circular';
}


/*layout pagina*/

#center-screen {
    overflow: scroll;
    background: linear-gradient(1deg, #000000 60%, #363636);
    padding-inline: 3vh;

}

#left-screen{
    color: #b1b0b0;
    padding-left: 2vh;
    
}

#fixer{
    position: sticky;
    top: 0;
    height: 100vh;
}

#fixerRight{
    position: sticky;
    top: 0;
}


/*nav*/
.nav{
    margin-top: 2vh;
    color: rgb(122, 122, 122) !important;
}

.navButtons{
    color: #b1b0b0 !important;
}

#firstNav i {
    font-size: 1.4rem;
}
#iconaStronza{
    font-size: 1.8rem;
}

.my-2{
    margin-bottom: 0.8rem !important;
}
#coloredHeart{
    background: linear-gradient(315deg, rgba(184,178,194,1) 22%, rgba(114,36,204,1) 84%);
    padding: 0.28rem;
    border-radius: 3px;
}
#coloredBookmark{
    background-color: #0e5326;
    padding: 0.3rem 0.45rem;
    color: #6bb100;
    font-size: 0.9rem;
    border-radius: 3px;
}


/*parte asides Homepage*/

#right-aside{
    color: #b1b0b0;
}
.aside-icons{
    border-radius: 100% !important;
    width: 40px;
    height: 40px;
}
.iconsImgAside{
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#right-aside-title{
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.righterCol{
    color: #b1b0b0;
    font-weight: bolder;
}

.righterColText{
    margin-bottom : 0px;
    color: rgb(122, 122, 122);
    font-size: 0.75rem;
}


.righterP{
    margin-top: 0;
    margin-bottom: 0.3rem !important;
}

#left-aside{
    display : flex;
    flex-direction : column;
    overflow : scroll;
    height: 100vh;
    font-size: 0.9rem;
}


#left-aside::-webkit-scrollbar {
    width: 10px;
}

#left-aside::-webkit-scrollbar-track {
    background: black;
}

#left-aside::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 80);
}



/*Parte centrale */


.upperButtons{
    background: black;
    border-radius: 100%;
    color: gray;
    border: none;
    width: 25px;
    margin-inline: 5px
}

.buttoncontainer{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#central-card{
    background: linear-gradient(3deg, #121212 70%, #323232)
}

#introduction-title-card{
    font-size: 4.5rem;
    font-weight: 600;
}

#center-screen::-webkit-scrollbar {
    width: 10px;
}

#center-screen::-webkit-scrollbar-track {
    background: black;
}

#center-screen::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 80);
}

#center-screen::-webkit-scrollbar-button {
    display: none !important;
    background-color: black !important;
}
  

#cardTitle{
    font-size: 1rem;
}

#introButtonPlay{
    border-radius: 30px;
    padding: 10px;
    width: 7rem;
    background-color: #1DB954;
    color: black !important;
    font-weight: 600;
}

#introButtonSalva{
    border-radius: 30px;
    padding: 10px;
    width: 7rem;
    background-color: #000000;
    color: white !important;
    font-weight: 600;
}

.buonaseraTitle{
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.cardCentralBuonasera{
    display: flex;
    background-color:#171717;
    color: white;
    font-weight: 700;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.buonaseraCard{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.cardRightSideBuonasera{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.centralPlaylistCard{
    width: 13rem !important;
    padding: 0.75rem;
    background-color: #171717;
    color: white;
    height: 20rem;
    font-size: 0.8rem;
    font-weight: 500;
}
.centralPlaylistCardBody{
    padding: 0.6rem;
}

.colCentralPlaylistCard{
    margin-right: 0rem;
}
.cardP{
    color: gray;
}