#right-aside{
    display : flex;
    flex-direction : column;
    overflow : scroll;
    height: 100vh;
}

#left-aside{
    color: #b1b0b0;
    padding-left: 2vh;
}

.nav{
    margin-top: 2vh;
    color: rgb(122, 122, 122)
}


.my-1{
    color: #b1b0b0;
}

#right-aside-title{
    margin-bottom: 8vh;
}

#right-aside::-webkit-scrollbar {
    width: auto;
}

#right-aside::-webkit-scrollbar-track {
    background: black;
}