#right-aside {
  color: #b1b0b0;
}

.aside-icons {
  border-radius: 100% !important;
  width: 40px;
  height: 40px;
}



#left-screen{
  color: #b1b0b0;
  padding-left: 2vh;
  
}

#fixer{
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

#fixerRight{
  position: sticky;
  top: 0;
}

.nav{
  margin-top: 2vh;
  color: rgb(122, 122, 122) !important;
}

.navButtons{
  color: #b1b0b0 !important;
}

#firstNav i {
  font-size: 1.4rem;
}
#iconaStronza{
  font-size: 1.8rem;
}

.my-2{
  margin-bottom: 0.8rem !important;
}
#coloredHeart{
  background: linear-gradient(315deg, rgba(184,178,194,1) 22%, rgba(114,36,204,1) 84%);
  padding: 0.28rem;
  border-radius: 3px;
}
#coloredBookmark{
  background-color: #0e5326;
  padding: 0.3rem 0.45rem;
  color: #6bb100;
  font-size: 0.9rem;
  border-radius: 3px;
}

.iconsImgAside {
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#right-aside-title {
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.righterCol {
  color: #b1b0b0;
}

.righterColText {
  margin-bottom: 0px;
  color: #cecece;
  font-size: 0.75rem;
}

.righterP {
  margin-top: 0;
  margin-bottom: 0.3rem !important;
}

#left-aside {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100vh;
  font-size: 0.9rem;
}

#left-aside::-webkit-scrollbar {
  width: 10px;
}

#left-aside::-webkit-scrollbar-track {
  background: black;
}

#left-aside::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80);
}

body {
  background: linear-gradient(#c8ac47, #1c1d25);
  font-family: "Roboto", sans-serif;
}
body a {
  color: rgb(170, 170, 170);
}
body a:hover {
  color: rgb(200, 200, 200);
}

.section-title {
  padding-left: 5%;
}

.tracks {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 15px;
}
.tracks__heading {
  color: rgb(170, 170, 170);
  height: 42px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.tracks__heading__number {
  margin-left: 10px;
  font-style: italic;
}
.tracks__heading__title {
  margin-left: 70px;
  width: 45%;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.tracks__heading__length {
  margin-left: auto;
  font-size: 20px;
}
.tracks__heading__popularity {
  font-size: 20px;
  margin-left: 55px;
  padding-right: 10px;
}

.track {
  border-top: 1px solid rgb(40, 40, 40);
  height: 42px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.track:hover {
  background: rgb(40, 40, 40);
}
.track:last-child {
  border-bottom: 1px solid rgb(40, 40, 40);
}
.track__art img {
  width: 42px;
  height: 42px;
}
.track__number {
  margin-left: 10px;
  color: rgb(170, 170, 170);
  width: 12px;
}
.track__added {
  margin-left: 30px;
  color: rgb(200, 200, 200);
}
.track__added .added {
  color: rgb(200, 200, 200);
}
.track__added .not-added {
  color: rgb(170, 170, 170);
}
.track__title {
  width: 45%;
  margin-left: 30px;
  color: rgb(255, 255, 255);
}
.track__title.featured .title:after {
  content: "-";
  margin: 0 5px;
}
.track__title.featured .feature {
  color: rgb(170, 170, 170);
}
.track__title.featured .feature:after {
  content: ",";
  margin-right: 5px;
}
.track__title.featured .feature:last-child:after {
  content: "";
  margin-right: 0;
}
.track__title.featured .feature:hover {
  cursor: pointer;
  color: rgb(200, 200, 200);
  text-decoration: underline;
}
.track__explicit .label {
  border: 1px;
  border-style: solid;
  border-color: #424242;
  color: #424242;
  text-transform: uppercase;
}
.track__plays {
  color: rgb(170, 170, 170);
  margin-left: auto;
  padding-right: 10px;
}
.track__length {
  margin-left: auto;
  color: rgb(170, 170, 170);
}
.track__popularity {
  margin-left: 46px;
  padding-right: 10px;
  font-size: 20px;
  color: rgb(170, 170, 170);
}

@media (max-width: 1200px) {
  .tracks__heading__title {
    width: auto;
  }
  .tracks__heading__popularity {
    display: none;
  }
  .tracks .track__title {
    width: auto !important;
  }
  .tracks .track__explicit {
    display: none;
  }
  .tracks .track__popularity {
    display: none;
  }
}/*# sourceMappingURL=album.css.map */